<!-- menu.component.html -->
<nav>
 

  <ul>
    <li class="dashboard"><a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a routerLink="/expenses"><i class="fas fa-wallet"></i> Expenses</a></li>
    <li><a routerLink="/savings"><i class="fas fa-piggy-bank"></i> Savings</a></li>
    <li><a routerLink="/reports"><i class="fas fa-chart-line"></i> Reports</a></li>
  </ul>
   <!-- Logout button at the bottom -->
  <ul class="logout">
    <li>
      <button class="logout-btn">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </li>
  </ul>
</nav>



  
