.reports-container {
  margin-top: 60px; /* Adjust for header space */
  padding: 20px;
  margin: 40px;
  background-color: #181B3A; /* Dark background color */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow for 3D effect */
  color: white; /* White text for contrast */
  }

  h2.text-center {
    margin-top: 10px; /* Align header closer to the top */
    margin-bottom: 20px; /* Add some spacing below the header */
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    
  }
  canvas {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  