<div class="cards">
<div class="card">
    <div class="card-body">
        <i class="fas fa-wallet" style="color: white;"></i>
        <i class="fa-solid fa-arrow-trend-up" style="color: white;"></i>
        <h6 class="card-subtitle mb-2 text-body-secondary">Total Balance</h6>
        <p class="card-text">$50000</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <i class="fas fa-wallet" style="color: white;"></i>
        <i class="fa-solid fa-arrow-trend-up" style="color: white;"></i>
        <h6 class="card-subtitle mb-2 text-body-secondary">Income</h6>
        <p class="card-text">$50000</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <i class="fas fa-wallet" style="color: white;"></i>
        <i class="fa-solid fa-arrow-trend-up" style="color: white;"></i>
        <h6 class="card-subtitle mb-2 text-body-secondary">Total Balance</h6>
        <p class="card-text">$50000</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <i class="fas fa-wallet" style="color: white;"></i>
        <i class="fa-solid fa-arrow-trend-up" style="color: white;"></i>
        <h6 class="card-subtitle mb-2 text-body-secondary">Total Balance</h6>
        <p class="card-text">$50000</p>
    </div>
</div>
</div>


