<div class="cards">
    <div class="card">
        <div class="card-body">
            <div class="icons-container">
                <div class="icon-container">
                    <i class="fas fa-wallet"></i>
                </div>
                <i class="fa-solid fa-arrow-trend-up" style="color: white;"></i>
            </div>
            <div>
                <p class="card-text">Total Balance</p>

                <h4 class="card-text" >$50000</h4>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="icon-container">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>

            <p class="card-text">Income</p>
            <h4 class="card-text">$7.789</h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="icon-container">
                <i class="fa-solid fa-money-bill"></i>
            </div>
            <p class="card-text">Expenses</p>
            <h4 class="card-text">$574.200</h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="icon-container">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <p class="card-text">Savings</p>
            <h4 class="card-text">$50000</h4>
        </div>
    </div>
</div>
