
.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 16rem;
    height: 9rem;
    margin-right: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
    border: none;
    box-shadow: none;
    background: linear-gradient(to right, #de4722, #d5354f, #5f083c);
    border-radius: 10px; 
}

.card-body {
    display: flex;
    flex-direction: column;
    
    align-items: left;
    text-align: left;

    
    
}



.icon-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}
.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.card-text {
    margin-top: 5px;
    color: #ffffff;
}




